<div class="page-header">
  <h1><%= @genre.name.titleize %> <small>genre</small></h1>
</div>

<h2>Artists</h2>
<% @genre.artists.each do |artist| %>
  <p>
     <%= link_to artist.name, artist_path(artist) %>
  </p>
<% end %>

<h2>Releases</h2>
<% @genre.releases.each do |release| %>
  <p>
    <span class="label label-info"><%= release.release_kind.name.titleize %></span>
    <%= link_to release.name, release_path(release) %>
  </p>
<% end %>

<h2>Tracks</h2>
<% @genre.tracks.each do |track| %>
  <p>
    <%= link_to track.name, track_path(track) %>
  </p>
<% end %>