<div class="page-header">
  <h1><%= @release.name %> <small>release</small></h1>
</div>

<h2>Submitted By</h2>
<h4><%= @release.submitting_user.display_name %></h4>

<h2>Kind</h2>
<p>
  <%= @release.release_kind.name.titleize %>
</p>

<h2>Release Date</h2>
<p>
  <%= @release.release_date %>
</p>

<h2>Authoring Artist</h2>
<p>
  <%= link_to @release.owning_artist.name.titleize, artist_path(@release.owning_artist) %>
</p>

<h2>Tracks on This Release</h2>
<table class="table table-bordered table-striped">
  <tr>
    <th>Track Number</th>
    <th>Name</th>
  </tr>

  <% @release.cuts.each do |cut| %>
    <tr>
      <td><%= cut.position %></td>
      <td><%= link_to cut.track.name, cut.track %></td>
    </tr>
  <% end %>
</table>
<p>
  <%= link_to "Add a Track", new_release_track_path(@release) %>
</p>


<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>